body, html {
	background: #489792;
	color: #A1A1A1;
	margin-top: 20px;
}

h1, h2, h3 {
	color: #AA2808;
}

/* Wrapper */

#wrapper {
	margin: 0 auto;
	width:960px;
}

/* Header */

#header {
	border-bottom: 1px solid #fff;
	margin: 0 auto;
}

/* Logo */

#logo {
	height: 76px;
	position: relative;
	width: 400px;
}

#logo img {
	bottom: 2px;
	height: 60px;
	left:0;
	position: absolute;
}

#logo h1 {
	bottom: -7px;
	left:70px;
	font-size:40px;
	position: absolute;
	text-transform: uppercase;
}

#logo h2 {
	bottom: -9px;
	color: #444444;
	font-size: 20px;
	font-weight: bold;
	left: 70px;
	letter-spacing: 2px;
	position:absolute;
}

#logo a {
	color: #F0F0F0;
	text-decoration: none;
}

/* Menu */

#menu {
	width: 960px;
	height: 70px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 20px 0 0 0px;
	list-style: none;
	line-height: normal;
	margin-left: 30px;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size:x-large;
	font-weight: bold;
/*	color: #07B6FE;*/
color: #000;
}

#menu a:hover, #menu .active a {
	background: #fff;
	color: #000;
}

#main{
	height: 450px;
	position: relative;
}

#main p {
	font-size:x-large;
	color: #000;
}

#main-thanks, #main-designs {
	margin-top: 100px;	
}

#main-thanks{
	position:relative;	
}

#main-thanks p{
	margin-left: 300px;
}

#main-form {
	color:#000;
	font-size:x-large;
	margin: 20px auto;
	width: 400px;
}

#main-contents img {
	margin-top:100px;
	border: 2px solid white;
}

#main-contents p {
	margin-top:190px;
}

ul.thumb {
	float: left;
	list-style: none;
	margin: 20px; 
}

ul.thumb li {
	float: left;
	position: relative;
	width: 210px;
	height: 210px;
}

ul.thumb li img {
	width: 200px; 
	height: 200px;
	padding: 5px;
	position: absolute;
	left: 0; 
	top: 0;
}

.title{
	position:absolute;
	width:185px;
	height:35px;
	margin:0;
	font-weight:900;
	padding:17px 0 0 0;
	text-align:center; 
	color: #ccc; 
}

/* Footer */

#footer {
	margin: 120px auto;
	border-top: 1px solid #fff;
	color: #000;
}

#footer img {
	height: 100px;
	float: right;	
	margin: -90px 10px 0 0;
}

#footer p {
	text-align: center;
	font-size:medium;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	color: #000;
	text-decoration: none;
}

.form-input { margin: 5px 0; }
.form-input .btn { margin: 20px 0; }
.form-input label { display: block; margin-bottom: 10px; }
.form-input-capatcha { height: 50px; width: 393px; }
.form-input-capatcha-input label { display: block; margin-bottom: 10px; }
.form-input-capatcha-input { float: left; height: 50px; }
.form-input-capatcha-image { float: right; height: 50px; }
